.DS_Store
node_modules
esm
lib
dist
examples/dist
rust/target
coverage
cache
.temp

# tests
__tests__/ssr/**/*-diff.png
__tests__/ssr/**/*-actual.png
__tests__/ssr/**/*-actual.svg
test-results
playwright-report
playwright/.cache