name: Vercel Preview Deployment
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
on:
  push:
    branches-ignore:
      - main
jobs:
  Deploy-Preview:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2
        with:
          version: 7

      - name: Use Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: 20.14.0
          cache: 'pnpm'

      - name: Install dependencies
        run: |
          # 临时移除 gl 依赖以避免安装
          sed -i.bak '/"gl":/d' package.json
          pnpm install --no-frozen-lockfile

      - name: Install Vercel CLI
        run: npm install --global vercel@latest
      
      - name: Build and Deploy to Vercel
        run: |
          npx vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}
          npx vercel build --prod --token=${{ secrets.VERCEL_TOKEN }} --skip-install
          npx vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}